{% extends 'base.html.twig' %}

{% block title %}Graphique journalier{% endblock %}

{% block body %}
    <div class="color-black ">
        <nav class=" nav-transaction navbar navbar-expand color-black border-bot">
            <div class="container-fluid text-color">
                <a class="nav-item" href="{{ path('home') }}" aria-label="Close"><i class="fas fa-times"></i></a>
                <h2 class="flex-fill">Vos gains</h2>
            </div>
        </nav>
    </div>
    <div class="home color-black graph">
        <div class="container-lg mt-5">
            {{ render_chart(chart) }}
        </div>
    </div>

{% endblock %}